<div class="container">
    <div class="container">
        <label for="edit-post-content">Content</label>
        <input class="form-control" value='<%= post.content %>' type="text" id="edit-post-content">
    </div>
    <div class="container">
        <button class="btn color-white btn-sm bg-theme mt-3" postId=<%= post.id %> id="edit-post-btn">Edit</button>
    </div>
</div>

<script>
    const editContentContainer = document.getElementById("edit-post-content")
    const editPostBtn = document.getElementById("edit-post-btn")
    const alertContainer = document.querySelector('.alert')

    editPostBtn.addEventListener("click", e=> {
        if(editContentContainer?.value?.trim() == ''){
             alertContainer.textContent = "Post Cannot be empty";
            alertContainer.style.display = 'block'
            setTimeout(()=> {
                alertContainer.style.display = 'none'
            }, 3000)
            return;
        }
        handleEditPost(e.target.getAttribute('postId'))
    })

    async function handleEditPost(postId){
        const response = await fetch(`/post/edit/${postId}`, {
            method: "PATCH",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: new URLSearchParams({
                content: editContentContainer.value
            })
        });
        const result = await response.json();
        if(!result.success){
            alertContainer.textContent = result.msg;
            alertContainer.style.display = 'block'
            setTimeout(()=> {
                alertContainer.style.display = 'none'
            }, 3000)
            return;
        }
        window.location.href = '/'
    }
</script>