<div>
    Welcome mr/ms <%= user.name %>
    <button id="logout-btn">Logout</button>
</div>
<script>
    const logoutBtn = document.getElementById("logout-btn")
    logoutBtn.addEventListener('click', e=> {
        window.location.href = '/auth/logout'
    })
</script>